.about {
    display: flex;
    margin-top: 10%;
}

.content {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    font-size: xx-large;
    padding-left: 5%;
    padding-right: 5%;
    text-align: left;
    align-items: center;
    font-size: x-large;
    overflow: auto;
    width: 50%;
}

.headshot {
    border-radius: 50%;
    width: 50%;
}

.highlight {
    color: #19BFB7;
    background-color: #202020;
}

@media only screen and (max-width: 600px) {
    .about {
        display: flex;
        flex-direction: column;
    }

    .headshot {
        margin: 10%;
        margin-bottom: 20%;
    }
}